:root {
	--bg-section:#f3d57ce0;
	--title-color: #460c07;
}

.contact-section-container {
	background-color: var(--bg-section);
}


.contact-section {
	display: flex;
	flex-direction: column;
	gap: 26px;
	padding: 30px 0;
}

.contact-information h3 {
	color: var(--title-color);
}

.contact-section p {
	color: var(--title-color);
}

.contact-section img {
	width: 12px;
}

.contact-information {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.mapa-contact,
.email-contact,
.phone-contact {
	display: flex;
	gap: 10px;
}


.text-contact-section p {
	color: black;
}

.mapa img {
	width: 100%;
}


/* Media query para dispositivos TABLET (mayores a 480px) */
@media (min-width: 481px) {
	:root {
		--container-width: 75%;
	}

}

/* Media query para dispositivos DESKTOP (mayores a 1024px) */
@media (min-width: 1024px) {

	.contact-section {
		flex-direction: row;
	}

	.contact-information {
		justify-content: center;
	}
}


/* Media query para dispositivos DESKTOP XXL (mayores a 1440px) */
@media (min-width: 1440px) {}