img {
	border-radius: 8px;
}

:root {
	--bg-first-section: #8f1212;
	--text-color: #FFFFFF;
	--title-color: #460c07;
	--card-color: #4fc4b9;
	--bg-header-form: #f4e7cf;
	--text-header: #8a2148;
	--bg-color-sections: #e25880;
	--bg-button-color: #8bc8a9;
	--button-color: #412f31;
}


.header {
	padding: 50px 0;
	background-color: var(--bg-header-form);
	text-align: center;
}

.header p {
	color: var(--text-header);
	font-size: 28px;
	padding: 0 20px;
}

.events-section {
	padding-bottom: 30px;
}

.events-section h2 {
	padding: 28px 0;
}

.events-cards {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.events-cards h3 {
	color: var(--text-color);
	padding: 8px 0 8px 16px;
	text-transform: uppercase;
	border-bottom: 1px solid;
}


.corporate-events-card,
.showroom-events-card,
.private-events-card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 10px 0;
	background-color: var(--bg-color-sections);
	border-radius: 10px;
}

.events-img {
	flex: 2;
}

.text-card {
	padding: 8px 16px;
	flex: 1;
}


.form-section {
	background-color: var(--bg-header-form);
}

.form-section h3 {
	color: var(--title-color);
	font-size: 22px;
	text-align: center;
	padding-top: 20px;
	text-transform: uppercase;
}

.form-section-container {
	display: flex;
	flex-direction: column;
	padding: 30px 20px;
	gap: 8px;
}

.form-section label {
	padding: 10px;
}

.form-section input {
	border-radius: 6px;
	padding: 6px 0;
}

.button {
	display: flex;
	justify-content: center;
}

.form-section button {
	background-color: var(--bg-button-color);
	color: var(--button-color);
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
	font-size: 18px;
}

.form-section textarea {
	padding: 40px 0;
}




/* Media query para dispositivos TABLET (mayores a 480px) */
@media (min-width: 481px) {
	:root {
		--container-width: 90%;
	}

	.text-card p {
		font-size: 18px;
	}

	.form-section-container {
		padding: 26px 46px;
	}

}

/* Media query para dispositivos DESKTOP (mayores a 1024px) */
@media (min-width: 1024px) {

	.events-cards {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.top-cards {
		display: flex;
		gap: 40px;
	}

	.img-and-text-corporate-card,
	.img-and-text-showroom-card,
	.img-and-text-events-card {
		display: flex;
		padding: 30px;
		background-color: var(--bg-header-form);
		align-items: center;
		flex: 1;
	}

	.corporate-events-card,
	.showroom-events-card,
	.private-events-card {
		flex: 1;
	}

	.events-img {
		flex: 1;
		min-width: 240px;
	}

	.text-card {
		flex: 2;
	}

	.text-card p {
		color: #8f1212;
		font-size: 20px;
	}

	.form-section {
		margin-top: 46px;
		padding: 20px 0 32px;
	}

	.form-section-container {
		padding: 26px 130px;
	}

}


/* Media query para dispositivos DESKTOP XXL (mayores a 1440px) */
@media (min-width: 1440px) {}