*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

/* Referencias de estilos genéricas (sustituir por los colores deseados) */
:root {
    --container-width: 90%;
    --bg-color: #f4e7cf;
    --header-color: #21b1a9;


    /* --accent-bg-color: #f4ede4;
    --text-color: #1d1d1d;
    --text-light-color: #696969;
    --text-secondary-color: #a31212;
    --primary-color: #0d4011;
    --primary-color-dark: #154b21; */
}

/* CSS Global para estilos */


/* A partir de aquí introduce tus estilos
(estos estilos aplican desde Mobile en adelante hasta  que se sobreescriban en alguna media query) */

body {
    background-color: var(--bg-color);
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

.logo-web {
    font-size: 26px;
}



/* NAV */

.desktop-nav {
    display: none;
}

.mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.mobile-nav-menu {
    cursor: pointer;
}

.mobile-nav img {
    width: 40px;
}

.front-page-header {
    padding: 30px 0px;
}

/* HEADER */
.header img {
    border-radius: 14px;
}

/* MAIN */
.hero {
    background-color: var(--header-color);
}

.text-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px 0;
    gap: 18px;
}

.text-hero h2 {
    font-size: 30px;
    border-bottom: 1px solid;
}

.text-hero p {
    padding: 8px 30px;
}

.galery-main-container {
    padding: 44px 0;
}

.title-galery {
    text-transform: uppercase;

}
.galery-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
}

.galery-main img {
    border-radius: 14px;
}