*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

/* Referencias de estilos genéricas (sustituir por los colores deseados) */
:root {
    --container-width: 90%;
    --bg-color: #FFFFFF;
    --section-color: #d04b41;
    --text-color: #FFFFFF;
    --title-color: #460c07;
    --bg-nav: #8f1212;
    --bg-header-form: #f4e7cf;
}

body {
    background-color: var(--bg-color);
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}


/* NAV */

.desktop-nav {
    display: none;
}

.mobile-tablet-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    padding-top: 6px;
    background-color: var(--bg-nav);
}

.logo-web {
    font-size: 24px;
    color: var(--title-color);
}

.mobile-nav-menu img {
    width: 50px;
}


/* .front-page-header {
    padding: 30px 0px;
} */

/* HEADER */
.header img {
    border-radius: 14px;
}

/* MAIN */


.text-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 44px 0;
    gap: 18px;
}

.text-hero .gallery-main-container, h2 {
    font-size: 28px;
    color: var(--title-color);
    text-transform: uppercase;
}

.text-hero p {
    padding: 8px 30px;
    color: #701b14;
    line-height: 2;
}

.gallery-main-images-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 30px 0;
}

.gallery-main img {
    border-radius: 14px;
}

.menu-section {
    background-image:url(/media/images/fondo_carta_desayuno.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}



/* FOOTER  */
.footer-container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-nav);
    padding: 30px 0;
    font-size: 18px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-container li,
span,
p,
small {
    color: var(--text-color);
    font-size: 16px;
}

.footer-container h2 {
    color: var(--title-color);
}

.information-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

.hour-footer {
    padding: 10px 0;
}

.hour-footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 8px;
}

.location-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.redes-footer {
    display: flex;
    gap: 10px;
}

.redes-footer img {
    width: 22px;
}