*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

/* Referencias de estilos genéricas (sustituir por los colores deseados) */
:root {
    --container-width: 90%;
    --bg-color: #f4e7cf;
    --section-color:#d04b41;
    --text-color:	#FFFFFF;
    --title-color:  #460c07;

}

body {
    background-color: var(--bg-color);
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

.logo-web {
    font-size: 20px;
}

/* NAV */

.desktop-nav {
    display: none;
}

.logo-web p {
    color: var(--text-color);
    font-weight: 800;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-navbar {
    display: flex;
    position: absolute;
    padding-top: 20px;
}

.mobile-nav-menu {
    cursor: pointer;
    width: 40px;
}


.front-page-header {
    padding: 30px 0px;
}

/* HEADER */
.header img {
    border-radius: 14px;
}

/* MAIN */


.text-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px 0;
    gap: 18px;
}

.text-hero h2 {
    font-size: 24px;
    color: var(--title-color);
    text-decoration: underline;
    line-height: 2;
}

.text-hero p {
    padding: 8px 30px;
    color: #701b14;
}

.galery-main-container {
    padding: 44px 0;
}

.title-galery {
    text-transform: uppercase;

}
.galery-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
}

.galery-main img {
    border-radius: 14px;
}

/* FOOTER  */

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: var(--section-color);
    padding: 30px 0;
    font-size: large;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-container li, span, p, small {
    color: var(--text-color);
}

.footer-container h2 {
    color:var(--title-color);
}

.information-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 44px;
}

.hour-footer {
    padding: 10px 0;
}

.hour-footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 8px;
}

.location-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.redes-footer img {
    width: 22px;
}